@charset "utf-8";
/* CSS Document */
b,h2{font-weight:normal;}
em{font-style:normal;}
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
#wrap{padding-bottom:5rem;}
#mainView{position:fixed;width:100%;top:4.4rem;}
.mainBox{padding:0 0.8rem;}
.inforBox{padding:1rem 0.5rem 1rem 0;border-bottom:1px solid #ececec;display:-webkit-box;}
.inforLeft{width:68px;text-align:center;font-size:1.4rem;}
.emBox{padding:2px;width:4rem;height:4rem;margin-left:0.5rem;border:1px solid #cccccc;border-radius:4rem;overflow: hidden;}
.inforLeft em{border-radius:4rem;display:inline-block;width:4rem;height:4rem;overflow: hidden;}
.inforLeft img{width:4rem;}
.inforLeft span{display:block;color:#3c70a6;font-size:1.4rem;margin-top:0.3rem;}
.inforRigth{-webkit-box-flex:1;display: -webkit-box;-webkit-box-orient: vertical;width:100%;font-size:1.2rem;line-height:2rem;}
.inforRigth h2{font-size:1.6rem;padding-top:0.6rem;word-wrap: break-word;}
.inforRigth p{color:#999999;display:block;font-size:1.2rem;}
.fr b{background: url(../../images/lookicon.png) no-repeat left center;background-size:1.8rem;padding-left:2rem;}
.detail{font-size:1.6rem;line-height:2rem;color:#999999;padding:1rem 0.2rem;border-bottom:1px solid #ececec;}
.detail li{width:50%;float:left;word-break: break-all;word-wrap: break-word;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}
.detail b{color:#000000;}
.content{padding:1rem 0.5rem;font-size:1.6rem;line-height:2rem;color:#333333;letter-spacing: 0.1rem;}
.contentText{text-indent:3.2rem;word-break: break-all;word-wrap: break-word;}
.content img{width:100%;padding-top:1rem;}
