@charset "utf-8";
/* CSS Document */
#familyList{padding-bottom:5rem;}
.listBox{padding:4.4rem 0.8rem 0;}
.listBox li{border-bottom:0.1rem solid #ececec;height:3.2rem;line-height:3.2rem;font-size:1.4rem;padding:0 0.1rem}
.listBox li b{float:right;color:#999999;font-size:2.4rem;font-weight:normal;}
#addBtn{position:fixed;text-align:center;bottom:0;width:100%;}
#addBtn a{background:#48b0ed;color:#ffffff;border-radius:3px;font-size:1.4rem;cursor:pointer;outline:none;text-shadow:none;box-shadow:none;width:80%;height:4rem;display:inline-block;text-decoration:none;text-align:center;font-weight:normal;line-height:4rem;}
